*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.nav_bar{
    display: flex;
    height: 60px;
    color: white;
    background-color: #0f1111;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px ;
    width: 100px ;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px ;
    width: 100px;
}
.border{
    border:  1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px ;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    width: 620px;
    height: 30px ;
    border-radius: 4px; 
    justify-content: space-evenly;
    
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px ;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fcbd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
span{
    font-size: 0.7rem;
    
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700px ;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}
.panel{
    height: 50px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.panel-ops  p {
    display: inline;
    margin-left: 10px ;
}
.panel-ops{
    
    font-size: 10px px;
}
.panel-deals{
    font-size: 15px;
    font-weight: 700;
}
.hero-section{
    background-image: url(hero_image.jpg);
    height: 400px ;
    background-size: cover;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    
    height: 400px ;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin: 15px;
}
.box-img{
    height: 320px ;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 10px ;
    margin-right: 10px ;
}
.box-content {
    color: #007165;
}